
@{
    ViewData["Title"] = "EmployeeTrackTime";
}

<h2>EmployeeTrackTime</h2>
<p>This is the page where the employee will enter their time for the projects the project mananger has assigned them</p>
