
@{
    ViewData["Title"] = "AssignProject";
}

<h2>AssignProject</h2>
<p>Your role is: @TempData.Peek("userRole").ToString()</p>
<p>Assign an employee to a project here.</p>

<div class="container">
    <div class="form-group">
        <div>
            <form>
                <span>
                    Assign:
                    <label ></label>
                    <input  type="text" placeholder="MyProject" />
                    To:
                    <label></label>
                    <input type="text" placeholder="MyProject" />
                    <button>Assign</button>
                </span>
            </form>
        </div>
    </div>
</div>

