
@{
    ViewData["Title"] = "AssignProject";
}
@*Link the ViewModel for AssignProject*@
@model WorkHourTracker.Web.Models.AssignProjectInput

<h2>AssignProject</h2>
<p>Your role is: @TempData.Peek("userRole").ToString()</p>
<p>Assign an employee to a project here.</p>

@*Link the ViewModel for AssignProject*@
<form asp-action="SaveProjectAssignment" asp-controller="ProjectManager">
    <span>
        Assign:
        <label asp-for="AssignedProjectName"></label>
        <input asp-for="AssignedProjectName" type="text" placeholder="MyProject"/>
        To:
        <label asp-for="AssignedUserName"></label>
        <input asp-for="AssignedUserName" type="text" placeholder="Employees UserName"/>
        <button type="submit" class="btn-success">Assign</button>
    </span>
</form>