@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h2>What is the "Work Hour Tracker" application?</h2>
<p>This application is an application that seeks to make management of time spent on projects easier for all employees</p>

<h2>Why was this application created?</h2>
