@{
    ViewData["Title"] = "About";
}
<h3>@ViewData["Title"]</h3>

<h4>What is the "Work Hour Tracker" application?</h4>
<p>This application is an application that seeks to make management of time spent on projects easier for all employees</p>

<h4>Why was this application created?</h4>
