@{
    ViewData["Title"] = "About";
}
<h3>@ViewData["Title"]</h3>

<h4>What is the "Work Hour Tracker" application?</h4>
<p>
    This application is an application that seeks to make management of time spent on projects easier for all employees.
    Many companies may not be aware of the time employee’s are logging against various projects which can lead to under 
    budgeting or over budgeting the project.
</p>

<h4>Why was this application created?</h4>
<p>
    The purpose of this project is to create a solution that will allow the
    client to more easily manage their employee hours on various projects which will give companies more information
    when budgeting projects. The main goal of this project is to provide aninterface for users to enter their time spent
    on projects they worked on. Also, it will give users the ability to see what individuals worked on a particular
    project as well as a grand total of hours spent on a project.
</p>
