@{
    Layout = null;
    ViewData["Title"] = "CreateUserAccount";
}
@model WorkHourTracker.Web.Models.CreateUserAccountInput


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Work Hour Tracker - Sign Up</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <div class="col-sm-12">
        <div class="col-sm-3"><br /></div>
        <div class="col-sm-6">
            <div class="signUpContainer">
                <form asp-action="CreateUserAccount" asp-controller="Home">
                    <div>
                        @if (TempData.Peek("ModelErrors") != null)
                        {
                            foreach (var errorMessage in (string[])@TempData["ModelErrors"])
                            {
                                <p style="color:red">@errorMessage</p>
                            }
                        }
                    </div>
                    <div>
                        <h2>Work Hour Tracker Sign Up</h2>
                        <label asp-for="FirstName"></label>
                        <div>
                            <input class="signUpInput" asp-for="FirstName" type="text" placeholder="FirstName" />
                        </div>
                    </div>

                    <div>
                        <label asp-for="LastName"></label>
                        <div>
                            <input class="signUpInput" asp-for="LastName" type="text" placeholder="LastName" />
                        </div>
                    </div>

                    <div>
                        <label asp-for="UserName"></label>
                        <div>
                            <input class="signUpInput" asp-for="UserName" type="text" placeholder="UserName" />
                        </div>
                    </div>

                    <div>
                        <label asp-for="UserPassword"></label>
                        <div>
                            <input class="signUpInput" asp-for="UserPassword" type="password" placeholder="Password" />
                        </div>
                    </div>

                    <div>
                        <label asp-for="UserRole"></label>
                        <div>
                            <select asp-for="UserRole" asp-items="Html.GetEnumSelectList<WorkHourTracker.Model.Constants.Enums.RoleType>()">
                                   <option value="">Select a Role</option>
                            </select>
                        </div>
                    </div>

                    <br />
                    <div>
                        <input class="registerbtn" value="Sign up" type="submit" />
                    </div>
                </form>
                <br/>
                <a asp-controller="Home" asp-action="UserLogin">Back to Login</a>
            </div>
        </div>
        <div class="col-sm-3"><br /></div>
    </div>

</body>
</html>