@{
    ViewData["Title"] = "Home Page";
}

<h1>Work Hour Tracker</h1>

<p>Welcome to the Work Hour Tracker, <b>@TempData.Peek("firstName").ToString()</b></p>

@if (TempData.Peek("AccessDenied") != null)
{
    <p style="color: red">@TempData["AccessDenied"]</p>
}